/* variables */
:root {
	/* creating global var */
	--black-color: #000;
	--white-color: #fff;
	--grey-color: #eee;
	--hover-color: #474747;
	--gap: 3rem;
}
@media (max-width: 815px) {
	div .form-name {
		grid-template-columns: 1fr;
		gap: var(--gap);
	}
	div .grid-main {
		grid-template-columns: 1fr;
		row-gap: 4rem;
	}
}
@media (max-width: 935px) {
	section .home-content {
		grid-template-columns: 1fr;
		max-width: 75rem;
		gap: var(--gap);
	}
	div .home-img {
		margin: 0 0 -0 -5rem;
	}
}

/* general */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	/* = 10px */
	scroll-behavior: smooth;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 2rem;
	line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	line-height: 1.2;
}
h1 {
	font-size: 6rem;
	text-transform: uppercase;
}
h2 {
	font-size: 5rem;
	text-transform: uppercase;
	margin-bottom: 4rem;
}
h3 {
	font-size: 5rem;
}
h4 {
	font-size: 4.5rem;
}
h5 {
	font-size: 4rem;
}
h6 {
	font-size: 3.5rem;
}

/* backgrounds */
.main-bg {
	background-image: url("/assets/img/main-bg.svg");
	background-position: center center;
	background-size: cover;
	color: var(--white-color);
}
.sub-bg {
	background-image: url("/assets/img/sub-bg.svg");
	background-position: center center;
	background-size: cover;
	color: var(--black-color);
}
.black-bg {
	background-color: #131313;
	color: var(--white-color);
}
.white-bg {
	background-color: #fff;
	color: var(--black-color);
}

/* content */
.section {
	min-height: 100vh;
	/* maximum height of user screen */
}
.main-content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 8rem var(--gap);
}
