.home-content {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	gap: var(--gap);
	height: 100vh;
	position: relative;
}
.home-text,
.home-img {
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.home-img img {
	max-width: 80%;
	height: auto;
	margin-left: 5rem;
}
